/* Global Styles. */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #333;
    background-color: #f5f5f5;
}

#pageHeader {
    color: white;
    background-color: #330066;
    text-align: center;
    padding: 10px;
}

#searchSection {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#searchHeading {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

#cityForm {
    display: flex;
    flex-direction: column;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 2px solid #ccc;
}

#cityButtons {
    display: flex;
    flex-wrap: wrap;
}

.city-button {
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

button {
    background-color: #66a3ff;
    /* Light blue background */
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3385ff;
    /* Light blue background hover. */
}

#forecastSection {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forecastHeading {
    background-color: #333;
    color: white;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

#forecastBoxes {
    background-color: white;
    /* White background color for forecast boxes so they don't appear grey. */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Adjusted the height so the weather icon and <p> elements in JS could display vertically. */
.forecast-item {
    border: 1px solid #ccc;
    padding: 30px;
    margin: 25px;
    text-align: center;
    height: 365px;
    background-color: #333;
    color: white;
    width: 18%;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden 
}

.forecast-item img {
    margin-top: 10px;
    width: 50px; 
    height: 50px; 
}

/* Search history styles. */
#searchHistory {
    display: flex;
    flex-wrap: wrap;
}

.search-history-item {
    border: 1px solid #66a3ff;
    padding: 10px;
    margin: 5px;
    text-align: center;
    width: 25%;
    overflow: hidden; 
    white-space: nowrap;
    cursor: pointer;
}
